

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --bg-light: #F5F5FC;
  --bg-dark: #35353C;
  --bg-darker: #15151C;
  --font-body: #55555C;
  --shadow: #C5C5CC;
}

/* Ensures that the body takes the full width and the cards are centered */
.propertiescard {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Style for the title */
.demo_title h1, h6 {
  margin: -20px;
  text-align: center;
  color: var(--bg-darker);
}

/* Flex container to align cards horizontally */
.d-flex {
  display: flex;
  flex-direction: row; /* Line up items in a row */
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the gap between cards */
  padding: 20px;
  flex-wrap: wrap; /* Wrap items to next line if not enough space */
}

/* Style for individual cards */
.tpn_card {
  background: var(--bg-light);
  padding: 23px;
  border-radius: 27px;
  box-shadow: 1px 7px 13px var(--shadow);
  text-align: center; /* Center text within the card */
}

/* Style for images within cards */
.tpn_card img {
  border-radius: 23px;
  width: 200px;
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 16px;
}

/* Style for card titles */
.tpn_card h5 {
  color: var(--bg-dark);
  margin: 0 0 8px; /* Add some margin below the title */
}

/* Style for card descriptions */
.tpn_card p {
  color: var(--font-body);
  font-weight: 400;
  margin: 0 0 16px; /* Add some margin below the description */
}

/* Style for buttons within cards */
.tpn_card .tpn_btn {
  padding: 13px 27px;
  line-height: normal;
  background: var(--bg-dark);
  border-radius: 17px;
  text-decoration: none;
  color: #FFF;
  display: inline-block; /* Allows the button to be sized by its content */
  margin: 0; /* Reset any default margin */
  transition: all .7s ease;
}

/* Hover effect for buttons */
.tpn_card .tpn_btn:hover {
  background: var(--bg-darker);
  box-shadow: none;
}
