.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  position: sticky;
  padding: 10px 0;
  /* Adjust padding as needed */
  top: 0;
  z-index: 100;
}

.navContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

/* Button Styles */
.navButton {
  margin-left: 20px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.link-no-underline {
  text-decoration: none;
  color: inherit;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  border-radius: 5px;
  left: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #003580;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.1);
}
